<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="../css/footer.css">
</head>
<body>
		<div class="guide-link">
		<a class="link"href="#" >Introduction</a>
		<a class="link"href="#" >Newspapers</a>
		<a class="link"href="#" >License</a>
		<a class="link"href="#" >Contact with me</a>
		<a class="link"href="#" >Creator</a>
		<a class="link"href="#" >Advertisement</a>
		<a class="link"href="#" >Developers</a>
	</div>
	<div class="guide-link guide-link-secondary">
		<a class="link"href="#" >Roles</a>
		<a class="link"href="#" >Policy and safety</a>
		<a class="link"href="#" >License</a>
		<a class="link"href="#" >How YouTube works</a>
		<a class="link"href="#" >New features</a>
	</div>
	<div class="copyright">@2020 Google LLC</div>

</body>
</html>
