<!DOCTYPE html>
<html>
<head>
	<title>YouTuBe</title>
	<link rel="stylesheet" type="text/css" href="../css/main.css">
</head>
<body>
	
	<div class="row">
		<div class="content">
			<img class="video" src="../img/avatar.jpg" >
			<div class="detail">
				<a class="avatar-link" href="#">
					<img class="avatar-icon" src="../img/avatar.jpg" >
				</a>
				<div class="meta">
					<h3>STEAM DEN BAO GOP. DO MIXI FT BAN SANG TAC </h3>
					<span>MIXIGAMING</span>
					<span>595N View</span>
				</div>
			</div>		
		</div>

		<div class="content">
			<img class="video" src="../img/avatar.jpg" >
			<div class="detail">
				<a class="avatar-link" href="#">
					<img class="avatar-icon" src="../img/avatar.jpg" >
				</a>
				<div class="meta">
					<h3>STEAM DEN BAO GOP. DO MIXI FT BAN SANG TAC </h3>
					<span>MIXIGAMING</span>
					<span>595N View</span>
				</div>
			</div>		
		</div>

		<div class="content">
			<img class="video" src="../img/avatar.jpg" >
			<div class="detail">
				<a class="avatar-link" href="#">
					<img class="avatar-icon" src="../img/avatar.jpg" >
				</a>
				<div class="meta">
					<h3>STEAM DEN BAO GOP. DO MIXI FT BAN SANG TAC </h3>
					<span>MIXIGAMING</span>
					<span>595N View</span>
				</div>
			</div>		
		</div>	
		<div class="content">
			<img class="video" src="../img/avatar.jpg" >
			<div class="detail">
				<a class="avatar-link" href="#">
					<img class="avatar-icon" src="../img/avatar.jpg" >
				</a>
				<div class="meta">
					<h3>STEAM DEN BAO GOP. DO MIXI FT BAN SANG TAC </h3>
					<span>MIXIGAMING</span>
					<span>595N View</span>
				</div>
			</div>		
		</div>				
	</div>

</body>
</html>